<!-- Modal Start -->

<div class="modal">

    <!-- modal-content start -->

    <div class="modal__content modal__content--contact">

        <button class="modal__close" type="button">
            <img src="assets/images/close.svg" alt="Закрыть">
        </button>

        <form action="/" class="form" method="POST">

            <div class="form__group form__group--md">
                <input type="text" class="form__control" placeholder="Ваше имя">
                <span class="form__line"></span>
            </div>

            <div class="form__group form__group--md">
                <input type="email" class="form__control" placeholder="Ваш email">
                <span class="form__line"></span>
            </div>

            <div class="form__group form__group--md">
                <textarea class="form__control form__control--textarea" placeholder="Текст сообщения"
                    name=""></textarea>
                <span class="form__line"></span>
            </div>

            <div class="form__footer">
                <div class="form__group form__group--md">
                    <button class="btn btn--blue btn--rounded btn--sm" type="submit">Отправить</button>
                </div>
            </div>

        </form>

        <ul class="modal__footer">
            <li>
                email: <a href="mailto:info@mywebsite.ru">info@mywebsite.ru</a>
            </li>
            <li>
                тел: <a href="tel:+380951111111">+38(095)111-11-11</a>
            </li>
        </ul>

    </div>

    <!-- modal-content end -->

</div>

<!-- Modal End -->